<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <title>Web chat</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="container">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/form">WebChat</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a th:href="@{/users/profile}" class="nav-link"><span
                        sec:authentication="name"></span></a>
              </li>
              <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/statistics}" th:text="#{label_statistics}" class="nav-link">Statistics</a>
              </li>
              <li class="nav-item">
                <form th:method="post" th:action="@{/logout}">
                  <input type="submit" class="btn btn-link nav-link" th:value="#{link_logout}"/>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <form class="border border-success" id="messageForm" th:action="@{/form}" method="post" th:object="${msg}" enctype="multipart/form-data">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div>
          <input type="text" id="filter" th:value="${filter}" class="form-control"
                 placeholder="Enter filter to find"/>
        </div>
        <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="alert-danger"/>
        <ul id="receiversCheckBox" class="list-inline border">
          <li class="list-inline-item" th:each="u : ${users}">
            <div th:classappend="${(online.contains(u)) ? 'text-success border border-success' : 'text-dark border border-danger'}">
              <span th:attr="title=${(u.visited==null) ? '' : 'was here: ' + #temporals.format(u.visited, 'dd-MM-yyyy HH:mm')}" th:text="${u.username}"></span>
              <span><input type="checkbox" th:value="${u.id}" name="receivers"/></span>
            </div>
          </li>
        </ul>
        <small id="receiversHelp" class="form-text text-danger"></small>
        <textarea th:field="*{text}" id="formText" class="form-control mb-3"/>

        <small class="dangealert alert-danger" th:if="${#fields.hasErrors('text')}"
               th:errors="*{text}"></small>
        <small id="textHelp" class="form-text text-danger"></small>
        <input class="form-control mb-3" type="file" name="file" />
        <input type="submit" class="form-control btn btn-primary mb-3" th:value="#{button_send}"/>
      </form>
      <!--
      messages carts
      -->
      <div id="messages"></div>
    </div>
  </div>
</div>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/form.js}"></script>

</body>
</html>
