<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="container">
    <form th:action="@{/login}" method="post">
        <div class="row">
            <div class="col-md-12"><h1 th:text="#{label_signup}">Login</h1></div>
            <div class="form-outline mb-4">
                <label class="form-label" for="username" th:text="#{label_login}">Login</label>
                <input type="text" id="username" name="username" class="form-control form-control-lg"
                       placeholder="Enter a valid login name"/>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="password" th:text="#{label_password}">Password</label>
                <input type="password" id="password" name="password" class="form-control form-control-lg"
                       placeholder="Enter password"/>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                <p class="small fw-bold mt-2 pt-1 mb-0">
                    <span th:text="#{text_make_account}">Don't have an account?</span>
                    <a th:href="@{users/registration}" class="link-danger" th:text="#{link_register}">Register</a></p>
            </div>
        </div>
    </form>
</div>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
</body>
</html>
